

@using Microsoft.AspNetCore.Http
@using helperland.Models.Data
@inject IHttpContextAccessor HttpContextAccessor
@model helperland.Models.ServiceProviderSideModel

@{
    ViewData["Title"] = "Upcoming Service";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="service-history">
      <div class="container-fluid"><p class="text-center" >Welcome,<span>@HttpContextAccessor.HttpContext.Session.GetString("SPfname")</span></p></div>
 <div class="line"></div>
        <div class=" dropdown ">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-arrow-circle-right "></i>
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="WelcomeForSp">New Service Request</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="UpcomingService">Upcoming Service</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Service Schedule</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  asp-action="spservicehistory">Service History</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="RatingForSp">My Rating</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="blockcustomer">Block Customer</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Invoice</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notification</a>
          </div>
          </div>
        <div class="history-container">
          <div class="container">
            <div class="row">
              <div class="buttons" >
                
                  <button type="button" class="btn ">Dashboard</button>
                  <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <form asp-action="WelcomeForSp">
                     <button type="submit" class="btn ">New Service Request</button>
                </form>
                 
                  <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
               <form asp-action="UpcomingService">
                      <button type="submit" class="btn ">Upcoming Services</button>
                </form>
                
                
                
                
                  <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                
                  <button type="button" class="btn ">Service Schedule</button>
                  <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                 <form asp-action="spservicehistory">
                    <button type="submit" class="btn " >Service History</button>
                </form>
                  <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <form asp-action="RatingForSp">
                     <button type="submit" class="btn ">My Rating</button>
                </form>
                 
                  <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <form asp-action="blockcustomer">
                      <button type="submit" class="btn ">Block Customer</button>
                  </form>
                
                <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <button type="button" class="btn ">Invoice</button>
                <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <button type="button" class="btn ">Notifications</button>
                <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
              </div>
              <div class="col-lg col-md" >
               
                
                <div class="datatable-style" style="overflow-x:auto; margin-top: 5px;">
                 <table class="datatable border row-border" style="width:99%;">
                    <thead >
                        <tr>
                          <th>Service Id</th>
                            <th>Service Date</th>
                          <th>Customer Details</th>
                          <th>Payment</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                                @foreach (ServiceRequest sr in Model.serviceRequests)
                                {
                                     var sid = @sr.ServiceRequestId;
                                    <tr >
                                    <td onclick="openmodel(@sid.ToString())"><p  id="service-id">@sr.ServiceId</p></td>
                                  <td >
                                    <div class="row"><img class="calender" src="~/assets/calendar2.png">
                                      <p id="date" >@sr.ServiceStartDate.ToShortDateString()</p></div>
                                      <div class="row"> <img class="clock" src="~/assets/layer-14.png">
                                   <p id="time">@sr.ServiceStartDate.ToString("HH:mm")-@sr.ServiceStartDate.AddHours(sr.ServiceHours).ToString("HH:mm")</p>
                                        </div>
                                    </td>
                                    
                                         <td >
                                             @foreach (User user in Model.users)
                                    {
                                        if (sr.UserId == user.UserId)
                                        {
                                            <p class="sp-name"> @user.FirstName @user.LastName</p>
                                        }
                                    }
                              
                                        <div class="row">
                                  <img style="width: 22px;
                                  height: 22px;
                                  margin-left: 20px;
                                  margin-top: 6px;" src="~/assets/layer-15.png">
                                   @foreach (ServiceRequestAddress serviceRequestAddress in Model.serviceRequestAddresses)
                                    {
                                        if (sr.ServiceRequestId == serviceRequestAddress.ServiceRequestId)
                                        {
                                            <p id="time">@serviceRequestAddress.AddressLine1,@serviceRequestAddress.AddressLine2</p>
                                        }
                                    }
                                 
                               </div> 
                                        </td>
                                        <td><p class="bill">€<span>@sr.TotalCost</span></p></td>
                     
                                       <td>
                                            @if(sr.ServiceStartDate < DateTime.Now)
                                            {
                                                 <div class="row">
                                                    <form asp-action="CompleteSr">
                                               <input type="hidden" asp-for="srid" value="@sid">
                                               <button type="submit" class="align-items-center btn" id="reschedule1" title="Complete">Complete</button>
                                           </form>
                                            <form asp-action="CancellSr">
                                               <input type="hidden" asp-for="srid" value="@sid">
                                               <button type="submit" class="align-items-center btn" id="cancel-btn" title="Cancel">Cancel</button>
                                                </form>
                                                </div>
                                            }
                                            else
                                            {
                                                 <form asp-action="CancellSr">
                                               <input type="hidden" asp-for="srid" value="@sid">
                                               <button type="submit" class="align-items-center btn" id="cancel-btn" title="Cancel">Cancel</button>
                                                </form>
                                            }

                                        
                                       </td>
                          
                                </tr>
                                 <div id="@sid" class="modal" >
  
                                     <div class="modal-content animate  edit-address ">
                                         <p class="login">Service Details <i class="fa fa-close float-right" 
                                            onclick="document.getElementById(@sid).style.display='none'"></i></p>
                                               <div class="container">
                                                    <p class="date-time"> @sr.ServiceStartDate.ToShortDateString()  @sr.ServiceStartDate.ToString("HH:mm")-@sr.ServiceStartDate.AddHours(sr.ServiceHours).ToString("HH:mm")</p>
                                                    <span class="duration1"><b>Duration:</b> @sr.ServiceHours Hrs</span>
                                                    <hr>
                                                    <span class="duration1">
                                                      <b>Service Id:</b>@sr.ServiceId
                                                    </span>
                                                     <span class="duration1">
                                                  <b>Extras:</b> 
                                                   @foreach (var serviceRequestExtra in Model.serviceRequestExtras)
                                                {
                                                    if (sr.ServiceRequestId == serviceRequestExtra.ServiceRequestId)
                                                    {

                                                        if (serviceRequestExtra.ServiceExtraId == 1)
                                                        {
                                                            <span> Inside cabinets</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 2)
                                                        {
                                                            <span>Inside fridge</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 3)
                                                        {
                                                            <span> Inside oven</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 4)
                                                        {
                                                            <span> Laundry wash & dry</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 5)
                                                        {
                                                            <span> Interior windows</span>
                                                        }
                                            
                                                    }

                                                }
                                                </span>
                                                <span class="duration1">
                                                  <b>Net Amount:</b>  <span class="price">@sr.TotalCost,00&nbsp;€</span>
                                                </span>
                                                <hr>
                                                @foreach (var serviceRequestAddress in Model.serviceRequestAddresses)
                                                 {
                                                    if (sr.ServiceRequestId == serviceRequestAddress.ServiceRequestId)
                                                    {
                                                        <span class="duration1">
                                                          <b>Service Address:</b> <span> @serviceRequestAddress.AddressLine1</span>,
                                                           @serviceRequestAddress.AddressLine2</span>
                                                        @if (serviceRequestAddress.Mobile != null)
                                                        {
                                                            <span class="duration1">
                                                            <b>Phone:</b> <span> @serviceRequestAddress.Mobile</span>
                                                          </span>
                                                        }
                                                        @if (serviceRequestAddress.Email != null)
                                                        {
                                                            <span class="duration1">
                                                              <b>Email:</b> <span> @serviceRequestAddress.Email</span>
                                                            </span>
                                                        }
                                                        
                                                    }
                                                }
                                                
                                            <hr>
                                            <span class="duration1">
                                              <b>Comments</b>
                                            </span>
                                            <span class="duration1">
                                                    @if (sr.HasPets == true)
                                                    {

                                                       <span><img src="~/assets/included.png">I have pets at home</span>
                                                    }
                                                    else{
                                                        <span><img src="~/assets/not-included.png">I don't have pets at home</span>
                                                    }
                                                    
                                            </span>
                                            <div>
                                                @if(sr.ServiceStartDate < DateTime.Now)
                                            {
                                                <div class="row">
                                                    <form asp-action="CompleteSr">
                                               <input type="hidden" asp-for="srid" value="@sid">
                                               <button type="submit" class="align-items-center btn" id="reschedule1" title="Complete">Complete</button>
                                           </form>
                                            <form asp-action="CancellSr">
                                               <input type="hidden" asp-for="srid" value="@sid">
                                               <button type="submit" class="align-items-center btn" id="cancel-btn" title="Cancel">Cancel</button>
                                                </form>
                                                </div>
                                                 
                                            }
                                            else
                                            {
                                                 <form asp-action="CancellSr">
                                               <input type="hidden" asp-for="srid" value="@sid">
                                               <button type="submit" class="align-items-center btn" id="cancel-btn" title="Cancel">Cancel</button>
                                                </form>
                                            }

                                            </div>
                                             
                                          
                                     </div>
                                     </div>
                                     </div>
                                }
                               
                    
                    
                  </tbody>
                  
                </table>
              </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>
   
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    
<script src="~/js/script.js"></script>
<!-- rateyo-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script type="text/javascript" >
         jQuery(document).ready(function() {
           
        $('.service-history .history-container .datatable-style .datatable').dataTable(
        {
          searching: false,
          "dom": '<"top"i>rt<"bottom"flp><"clear">',
          "bInfo" : false,
          language: {
              paginate: {
                next: '<i class="fa fa-fw fa-angle-right">',
                previous: '<i class="fa fa-fw fa-angle-left">' ,
                first:'<i class="fa fa-fw fa-step-backward">',
                last: '<i class="fa fa-fw fa-step-forward">'
              }
            },
            buttons: [{
                extend: 'csv',
                
            }],
            'columnDefs': [ {

              'targets': [4], /* column index */
          
              'orderable': false, /* true or false */
          
            }],

          
            "pagingType": "full_numbers"
        }
        );

       
          var count=0;
          $('.service-history .history-container .datatable-style .datatable tr').each(function(){
            count++;
          });
          $("label").append(" Total Record:"+(count+1));
         });
        function openmodel(x){
             document.getElementById(x).style.display='block';
        }
    </script>