@using Microsoft.AspNetCore.Http
@using helperland.Models.Data
@inject IHttpContextAccessor HttpContextAccessor
@model helperland.Models.CustomerSideModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

 <div id="cancel" class="modal">
  
        <form class="modal-content animate" asp-action="cancelrequest" >
          <input type="hidden" asp-for="Cancelrequestid" id="serviceReqId1"/>
            <p class="login">Cancel Service Request <i class="fa fa-close float-right" 
                onclick="document.getElementById('cancel').style.display='none'"></i></p>
          <div class="container">
            
            <span class="psw " style="color:#646464">Are you sure you want to cancel this service request?</span>
              <div class="text-center">
               <img src="~/assets/alert1.jpg" width="120" height="120">
                  <button type="submit" class="btn login-btn" >Cancel Now</button>
              </div>
            </div>
        </form>
      </div>
      <div id="reschedule" class="modal">
  
        <form class="modal-content animate" asp-action="RescheduleSR">
          <input type="hidden" asp-for="Cancelrequestid" id="serviceReqId"/>
          <input type="hidden" id="serviceproid" asp-for="serviceproid" />
           
          <input type="hidden" id="endtime1" asp-for="endtime" />
            <p class="login">Reschedule Service Request <i class="fa fa-close float-right" 
                onclick="document.getElementById('reschedule').style.display='none'"></i></p>
          <div class="container">
            
            <span class="psw " style="color:#646464">Select New Date & Time</span>
              <div class=" book-now">
                <div class="payment-step2">
                  <div class="room-bath">
                    <div class="d-flex mt-3 ">
                      <div class=" mydate">
                        <span class="date-picker-calender">
                        <img src="~/assets/admin-calendar-blue.png">
                        </span>
                        <input asp-for="date" style="padding-left: 40px;" type="text" class="form-control date1" id="txtServiceStartDate" 
                        placeholder="DD/MM/YYYY" name="date" >
                       </div>
                       
                       
                        <select asp-for="time" class="drp4 form-control" id="timeselect" formcontrolname="ServiceTime">
                          <option  value="08:00 am">8:00</option>
                          <option  value="08:30 am">8:30</option>
                          <option  value="09:00 am">9:00</option>
                          <option  value="09:30 am">9:30</option>
                          <option  value="10:00 am">10:00</option>
                          <option  value="10:30 am">10:30</option>
                          <option  value="11:00 am">11:00</option>
                          <option  value="11:30 am">11:30</option>
                          <option  value="12:00 pm">12:00</option>
                          <option  value="12:30 pm">12:30</option>
                          <option  value="01:00 pm">13:00</option>
                          <option  value="01:30 pm">13:30</option>
                          <option  value="02:00 pm">14:00</option>
                          <option  value="02:30 pm">14:30</option>
                          <option  value="03:00 pm">15:00</option>
                          <option  value="03:30 pm">15:30</option>
                          <option  value="04:00 pm">16:00</option>
                          <option  value="04:30 pm">16:30</option>
                          <option  value="05:00 pm">17:00</option>
                          <option  value="05:30 pm">17:30</option>
                          <option  value="06:00 pm">18:00</option>
                        </select>
                      
                        
                    </div>
                  </div>
                </div>
                
                  <button type="submit" class="btn login-btn" >Update</button>
              </div>
            </div>
        </form>
      </div>
       <div class="service-history">
      <div class="container-fluid"><p class="text-center" >Welcome,<span>@HttpContextAccessor.HttpContext.Session.GetString("Customerfname")</span></p></div>
        
        <div class="line"></div>
        <div class=" dropdown ">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-arrow-circle-right "></i>
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-action="Welcome">Dashboard</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="ServiceHistory">Service History</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Service Schedule</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="FavoritePros">Favorite Pros</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Invoice</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notification</a>
          </div>
          </div>
        <div class="history-container">
          <div class="container">
            <div class="row">
              <div class="buttons" >
                
                  <button type="button" class="btn active" >Dashboard</button>
                
                <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <form asp-action="ServiceHistory">
                    <button type="submit" class="btn ">Service History</button>
                </form>
                  
                 <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                
                  <button type="button" class="btn ">Service Schedule</button>
                
                  <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                  <form asp-action="FavoritePros" asp-controller="Home">
                       <button type="submit" class="btn ">Favorite Pros</button>
                  </form>
               
                <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <button type="button" class="btn ">Invoice</button>
                <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
                <button type="button" class="btn ">Notifications</button>
                <div class="border border-top-1 border-right-0 border-left-0 border-bottom-0"></div>
              </div>
              <div class="col-lg col-md" >
                <div class="row">
                  <p class="text1" >Current Service Requests</p>
                <a class="ml-auto export " id="data" asp-action="BookService" asp-controller="Home" title="Export">Add New Service Request</a>
                </div>
                <div role="alert" class="alert alert-success " style="background:rgba(255,0,0, 0.5);display:none;" id="closebtn5">
                      <button  class="close" type="button" onclick="document.getElementById('closebtn5').style.display='none'">
                        <span aria-hidden="true">×</span>
                      </button>
                      <span class="break-word" style="color:white" >Another service request has been assigned to the 
                          service provider on @TempData["date"] from @TempData["s"] to @TempData["e"]. Either choose another date or pick up a different time slot.
                        </span>
                    </div>
                <div class="datatable-style" style="overflow-x:auto;">
                <table class="datatable border row-border">
                  <thead >
                    <tr>
                      <th>Service Id</th>
                        <th>Service Date</th>
                      <th>Service Provider</th>
                      <th>Payments</th>
                      
                      <th >Actions</th>
                      
                      
                    </tr>
                  </thead>
                 
                  <tbody>
                                @foreach(ServiceRequest sr in Model.serviceRequests)
                                {
                                     
                                    var ratingid = 0;
                                    var profile = 0;
                                    var sp_count = 0;
                                    decimal sp_avg = 0;
                                    var sid = @sr.ServiceRequestId;
                                    <tr >
                                    <td onclick="openmodel(@sid.ToString())"><p  id="service-id">@sr.ServiceId</p></td>
                                      <td >
                                        <div class="row"><img class="calender" src="~/assets/calendar2.png">
                                          <p id="date" >@sr.ServiceStartDate.ToShortDateString()</p></div>
                                        <div class="row"> <img class="clock" src="~/assets/layer-14.png">
                                        <p id="time">@sr.ServiceStartDate.ToString("HH:mm")-@sr.ServiceStartDate.AddHours(sr.ServiceHours).ToString("HH:mm")</p>
                                        </div>
                                    </td>
                                        @if(sr.ServiceProviderId !=null){
                                            <td >
                                        <div class="row ">
                                        @foreach(User u1 in Model.user){
                                             if(sr.ServiceProviderId == u1.UserId)
                                             {
                                                   if (u1.UserProfilePicture != null)
                                                   {
                                                       <div class="avtar">
                                                           <img alt="avtar"  src="@u1.UserProfilePicture">
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                          <div class="avtar">
                                                               <img src='~/assets/avatar-hat.png'>
                                                          </div>
                                                     }
                                                }
                                           }


                         
                                        <div>
                                                        @foreach(User u in Model.user){
                                                            if(sr.ServiceProviderId == u.UserId)
                                                            {
                                                                 <p class="sp-name">@u.FirstName @u.LastName</p>
                                                            }
                                                        }

                                                        @foreach (Rating rating in Model.myrate)
                                    {
                                        if (sr.ServiceProviderId == rating.RatingTo)
                                        {
                                            sp_count = sp_count + 1;
                                            sp_avg = sp_avg + rating.Ratings;
                                        }

                                    }
                                    @if (sp_count >= 1)
                                    {
                                        sp_avg = sp_avg / sp_count;
                                        sp_avg = Convert.ToDecimal(String.Format("{0:0.00}", sp_avg));
                                        var rand1 = new Random();
                                              ratingid = rand1.Next(1000, 99999);
                                    }
                                     <div class="row star" onload="avgrating('@ratingid',@sp_avg)">
                                        
                                        <div id="@ratingid" style="z-index:0"></div>
                                        <div class="ratingnum">@sp_avg</div>
                                    </div>
                                         
                                      </div>
                                    </div>
                                      </td>
                                        }
                                        else{
                                            <td></td>
                                        }
                                        
                                      <td><p class="bill">€<span>@sr.TotalCost</span></p></td>
                     
                                      <td>
                                           @if(sr.ServiceProviderId>0){
                                               
                                                <a class="align-items-center  reschedule" 
                                               onclick="reschedulefun1(@sid,@sr.ServiceProviderId,@sr.ServiceHours)" title="Reschedule">Reschedule</a>
                                                    
                                          }
                                           else
                                            {
                                                 <a class="align-items-center  reschedule" onclick="reschedulefun1(@sid,0)" title="Reschedule">Reschedule</a>
                                            }
                                         <a class="align-items-center " id="cancel-btn" onclick="cancel(@sid)"  title="Cancel">Cancel</a>
                                        </td>
                                    </tr> 
                                   
                                    <div id="@sid" class="modal" >
  
                                     <div class="modal-content animate  edit-address ">
                                         <p class="login">Service Details <i class="fa fa-close float-right" 
                                            onclick="document.getElementById(@sid).style.display='none'"></i></p>
                                               <div class="container">
                                                    <p class="date-time"> @sr.ServiceStartDate.ToShortDateString()  @sr.ServiceStartDate.ToString("HH:mm")-@sr.ServiceStartDate.AddHours(sr.ServiceHours).ToString("HH:mm")</p>
                                                    <span class="duration1"><b>Duration:</b> @sr.ServiceHours Hrs</span>
                                                    <hr>
                                                    <span class="duration1">
                                                      <b>Service Id:</b>@sr.ServiceId
                                                    </span>
                                                     <span class="duration1">
                                                  <b>Extras:</b> 
                                                   @foreach (var serviceRequestExtra in Model.serviceRequestExtras)
                                                {
                                                    if (sr.ServiceRequestId == serviceRequestExtra.ServiceRequestId)
                                                    {

                                                        if (serviceRequestExtra.ServiceExtraId == 1)
                                                        {
                                                            <span> Inside cabinets</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 2)
                                                        {
                                                            <span>Inside fridge</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 3)
                                                        {
                                                            <span> Inside oven</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 4)
                                                        {
                                                            <span> Laundry wash & dry</span>
                                                        }
                                                        else if (serviceRequestExtra.ServiceExtraId == 5)
                                                        {
                                                            <span> Interior windows</span>
                                                        }
                                            
                                                    }

                                                }
                                                </span>
                                                <span class="duration1">
                                                  <b>Net Amount:</b>  <span class="price">@sr.TotalCost,00&nbsp;€</span>
                                                </span>
                                                <hr>
                                                @foreach (var serviceRequestAddress in Model.serviceRequestAddresses)
                                                 {
                                                    if (sr.ServiceRequestId == serviceRequestAddress.ServiceRequestId)
                                                    {
                                                        <span class="duration1">
                                                          <b>Service Address:</b> <span> @serviceRequestAddress.AddressLine2</span>,
                                                           @serviceRequestAddress.AddressLine1</span>
                                                        @if (serviceRequestAddress.Mobile != null)
                                                        {
                                                            <span class="duration1">
                                                            <b>Phone:</b> <span> @serviceRequestAddress.Mobile</span>
                                                          </span>
                                                        }
                                                        @if (serviceRequestAddress.Email != null)
                                                        {
                                                            <span class="duration1">
                                                              <b>Email:</b> <span> @serviceRequestAddress.Email</span>
                                                            </span>
                                                        }
                                                        
                                                    }
                                                }
                                                
                                            <hr>
                                            <span class="duration1">
                                              <b>Comments</b>
                                            </span>
                                            <span class="duration1">
                                                    @if (sr.HasPets == true)
                                                    {

                                                       <span><img src="~/assets/included.png">I have pets at home</span>
                                                    }
                                                    else{
                                                        <span><img src="~/assets/not-included.png">I don't have pets at home</span>
                                                    }
                                                    
                                            </span>
                                          <div class="">
                                              @if(sr.ServiceProviderId>0){
                                               
                                                <a class="align-items-center" id="reschedule1"
                                               onclick="reschedulefun1(@sid,@sr.ServiceProviderId,@sr.ServiceHours)" title="Reschedule"> <img src="~/assets/reschedule-icon-small.png">Reschedule</a>
                                                    
                                          }
                                           else
                                            {
                                                 <a class="align-items-center" id="reschedule1" onclick="reschedulefun1(@sid,0)" title="Reschedule"> <img src="~/assets/reschedule-icon-small.png">Reschedule</a>
                                            }
              
                                           
                                                    <a class="align-items-center " id="cancel-btn" onclick="cancel(@sid)" title="Cancel">
                                                         <img src="~/assets/close-icon-small.png">Cancel</a>
                                          </div>
                                     </div>
                                     </div>
                                     </div>
                              }
                                
                    
                    
                  </tbody>
                  
                </table>
              </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>
  
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript" >
         jQuery(document).ready(function() {
           
        $('.service-history .history-container .datatable-style .datatable').dataTable(
        {
          searching: false,
          "dom": '<"top"i>rt<"bottom"flp><"clear">',
          "bInfo" : false,
          "pageLength": 5,
          lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']],
          language: {
              paginate: {
                next: '<i class="fa fa-fw fa-angle-right">',
                previous: '<i class="fa fa-fw fa-angle-left">' ,
                first:'<i class="fa fa-fw fa-step-backward">',
                last: '<i class="fa fa-fw fa-step-forward">'
              }
            },
            'columnDefs': [ {

              'targets': [4], /* column index */
          
              'orderable': false, /* true or false */
          
            }],
           drawCallback: function(settings) {
                  $('div[onload]').trigger('onload');
            },
            "pagingType": "full_numbers"
        }
        );


          var count=0;
          $('.service-history .history-container .datatable-style .datatable tr').each(function(){
            count++;
          });
          $("label").append(" Total Record:"+(count+1));
         });
        function reschedulefun1(id,spid,end){
            document.getElementById(id).style.display='none';
            document.getElementById('reschedule').style.display='block';
            document.getElementById('serviceReqId').value=id;
            document.getElementById('serviceproid').value=spid;
            document.getElementById('endtime1').value=end;
            
         }
        function cancel(id){
            document.getElementById('cancel').style.display='block';
            document.getElementById('serviceReqId1').value=id;
            document.getElementById(id).style.display='none';
            
        }
        function openmodel(id){
             document.getElementById(id).style.display='block';
        }
        jQuery(document).ready(function() {
        $('div[onload]').trigger('onload');
    });
    
    function avgrating(id,num) {
     jQuery(document).ready(function() {
           
            $("#"+id).rateYo({
                rating: num,
                halfStar: true,
                readOnly: true,
                starWidth: "20px"
            });
        });
       
    }
    </script>
     @if(TempData["conflict11"]  !=null){
        <script>
            $("#closebtn5").show().delay(10000).fadeOut();
        </script>
       
    }
    <script src="~/js/site.js"></script>