@using Microsoft.AspNetCore.Http
@using helperland.Models.Data
@inject IHttpContextAccessor HttpContextAccessor
@model helperland.Models.AdminSideModel

@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}
<div class="admin-wrapper">
      <div class="container-fluid">
        <div class=" dropdown " id="drop-down">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-arrow-circle-right "></i>
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            
            <a class="dropdown-item" asp-action="ServiceRequestAdmin">Service Requests</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">User Management</a>
            
          </div>
          </div>
        <div class="row">
          <div class="admin-buttons" >
            
          <form asp-action="ServiceRequestAdmin">
            <div class="border "></div>
          <button type="submit" class="btn text-left">Service Requests</button>
          </form>
          <div class="border"></div>
          
              <button type="button" class="btn active text-left">User Management</button>
          
          
          <div class="border "></div>
         
        
         
        </div>
        <div class="main-wrapper">
          
            <div class="row">
              <p class="my-header">User Management</p>
            <a class="ml-auto add-new-user" id="button_export_excel" href="#" title="Export">Export</a>
            </div>
            <div class="">
            <div class="white-box ">
              
                <div class="form-row ">
                   <div class="col">
                    <input id="username" class="form-control" placeholder="Username" list="brow">
                    <datalist id="brow">
                      <option value="">User Name</option>
                      @foreach(User user in Model.myuser){
                                         <option value="@user.FirstName">@user.FirstName @user.LastName</option>
                                    }
                                   
                        
                    </datalist>
                    
                   </div>
                   <div class="col">
                    <select id="usertype" class="form-control" >
                      <option value="">User type</option>
                      <option value="Customer">Customer</option>
                      <option value="Service Provider">Service Provider</option>
                    </select>
                  </div>
                  <div class="col">
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                          <div class="input-group-text">+91</div>
                        </div>
                        <input class="form-control" id="phone" name="phone" placeholder="Phone number">
                    </div>
                    
                  </div>
                  <div class="col">
                    <input  class="form-control" id="zipcode11" placeholder="Zip code"  >
                   </div>
                    <button type="button" class="btn" id="search-btn" >Search</button>
                  
                    <button type="button" class="btn " id="clear-btn">clear</button>
                  
                   </div>
                  
            </div>
          
        </div>
        <div class="user-management-dt " style="overflow-x:auto;">
          <table class="datatable-um border row-border" id="admin-datatable" >
            <thead >
              <tr>
                
                  <th>User Name</th>
                  <th>Date of Registration</th>
                <th>User Type</th>
                <th>Phone</th>
                <th>Postal Code</th>
                
                
                <th>UserStatus</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                            @foreach (User u in Model.myuser)
                            {
                                <tr>
                <td ><p id="time">@u.FirstName @u.LastName</p></td>
                <td><div class="row"><img class="calender"  style="margin-top: 0px;" src="~/assets/calendar2.png">
                  <p id="date"  style="margin-top: -5px;">@u.CreatedDate.ToShortDateString()</p></div></td>
                                    @if (u.UserTypeId == 1)
                                    {
                                        <td ><p id="time">Customer</p></td>
                                    }
                                    else{
                                        <td ><p id="time">Service Provider</p></td>
                                    }
                                    
                  <td ><p id="time">@u.Mobile</p></td>
                  <td ><p id="time">@u.ZipCode</p></td>
                 
                                    @if (u.IsApproved == true)
                                    {
                                        <td >
                                      <div class="status1 ml-1"><p class="text-white">Active</p></div>
                  
                                        </td>
                                    }
                                    else
                                    {
                                        <td >
                                      <div class="status2 ml-1"><p class="text-white">Inactive</p></div>
                  
                                    </td>
                                    }
                                    @if(u.UserTypeId==1){
                                        <td> </td>
                                    }
                                    else
                                    {
                                        <td>
                  <div class=" dropdown ">
                    <a class=" dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <div class="hello"><img  src="~/assets/group-38.png"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <form asp-action="activateuser">
                            <input type="hidden" value="@u.UserId" asp-for="iduser">

                             <button type="submit" class="dropdown-item" >Activate</button>
                        </form>
                     <form asp-action="deactivateuser">
                          <input type="hidden" value="@u.UserId" asp-for="iduser">
                         <button type="submit" class="dropdown-item" >Deactivate</button>
                     </form>
                      
                      
                    </div>
                  </div>
                  </td>
                                    }
                                    
              </tr>
                            }
                            
             
              
             
              
              </tbody>
            </table>
        </div>
        <p id="admin-footer">©2018 Helperland. All rights reserved.</p>
          </div>
          
        </div>
        </div>
        
      </div>
    
       <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
       <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    
       <script type="text/javascript" >
            jQuery(document).ready(function() {
              
             $('.admin-wrapper .main-wrapper .datatable-um').DataTable(
           {
             searching: true,
             "dom": 'tlp',
             "bInfo" : false,
             language: {
                 paginate: {
                   next: '<i class="fa fa-fw fa-angle-right">',
                   previous: '<i class="fa fa-fw fa-angle-left">' ,
                   
                 }
               },
               buttons: [{
                extend: 'csv',
                exportOptions: {
                  columns: 'th:not(:last-child)'
              }
            }],
               'columnDefs': [ {
   
                 'targets': [6], /* column index */
             
                 'orderable': false, /* true or false */
             
               }],
             
               
           }
           );
           $('#button_export_excel').click(() => {
          $('.admin-wrapper .main-wrapper .datatable-um').DataTable().buttons(0,0).trigger()
      });
   
           var count1=0;
          $('.admin-wrapper .main-wrapper .user-management-dt  .datatable-um  tr').each(function(){
            count1++;
          });
          $("label").append(" Total Record:"+(count1+1));
          var oTable=$("#admin-datatable").DataTable();
          $("#search-btn").click(function(){

            if($("#usertype").val()==null)
              {
              oTable.column([0]).search($("#username").val()).draw();
              oTable.column([3]).search($("#phone").val()).draw();
              oTable.column([4]).search($("#zipcode11").val()).draw();
              }
              else
              {
              oTable.column([0]).search($("#username").val()).draw();
              oTable.column([2]).search($("#usertype").val()).draw();
              oTable.column([3]).search($("#phone").val()).draw();
              oTable.column([4]).search($("#zipcode11").val()).draw();
            }
           }
           );
           $('#clear-btn').click(function () {
            $("#username").val("");
            $("#usertype").val("");
            $("#phone").val("");
            $("#zipcode11").val("");
            
            if($("#usertype").val() ==null)
              {
              oTable.column([0]).search('').draw();
              oTable.column([3]).search('').draw();
              oTable.column([4]).search('').draw();
            }
              else
              {
                
            oTable.column([0]).search('').draw();
              oTable.column([2]).search('').draw();
              oTable.column([3]).search('').draw();
              oTable.column([4]).search('').draw();
            }

          });
         });
         

          
       </script>